.footer {
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer .footer_top {
    padding-top: 145px;
    padding-bottom: 129px;
    background: #2C2C2C;
}
.footer .footer_top .footer_widget .footer_logo {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.footer .footer_top .footer_widget p {
    color: #C7C7C7;
}
.footer .socail_links {
    margin-top: 47px;
}
.footer .socail_links ul li {
    display: inline-block;
}
.footer .socail_links ul li a {
    font-size: 18px;
    color: #C3B2F0;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    background: #565656;
    border-radius: 50%;
    line-height: 40px !important;
    margin-right: 7px;
    color: #FFFFFF;
    line-height: 41px !important;
}
.footer .footer_top .footer_widget ul li {
    color: #C7C7C7;
    font-size: 13px;
    line-height: 42px;
}
.footer .footer_top .footer_widget ul li a {
    color: #C7C7C7;
}
.footer .footer_top .footer_widget .footer_title {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.footer .footer_top .footer_widget ul li {
    color: #C7C7C7;
    font-size: 13px;
    line-height: 42px;
}
.footer .footer_top .footer_widget ul li a {
    color: #C7C7C7;
    text-decoration: none;
}
.footer .copy-right_text .footer_border {
    padding-bottom: 30px;
}
.footer .copy-right_text .copy_right {
    font-size: 13px;
    color: #C7C7C7;
    margin-bottom: 0;
    font-weight: 400;
}
.footer .copy-right_text {
    padding-bottom: 30px;
    background: #1F1F1F;
}
.footer .copy-right_text .copy_right a {
    color: #28AE60;
}
.footer .footer_top .footer_widget ul li a:hover {
    color: #28AE60;
}
.footer .copy-right_text .footer_border {
    padding-bottom: 30px;
}

.footer .copy-right_text .copy_right a {
    color: #28AE60;
    text-decoration: none;
}