.header_area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 9;
    position: absolute;
}

.header_area .header_top_area {
    padding: 12px 0;
    background: rgba(44, 44, 44, 0.5);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: auto 1fr auto;
    overflow: auto;
    justify-items: stretch;
}

.header_area .header_top_area ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: auto 1fr auto;
    // grid-template-rows: 1em repeat(1, 1fr);
    // overflow: auto;
    justify-items: center;
}

.header_area .header_top_area .social_media_links a {
    font-size: 15px;
    color: #fff;
    margin-left: 12px;
}

.header_area .header_top_area .short_contact_list ul li a{
    font-size: 13px;
    color: #fff;
    margin-left: 50px;
}
.header_area .header_top_area .short_contact_list ul li a i{
    color: #28AE60;
}

@media screen and (max-width:992px) {
    .header_area .header_top_area {
        display: none;
    }
}