@import '../components/buttons';
@import './sticky_header';

.header_area {
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    height: 30px;
    z-index: 9;
    position: absolute;

}

.header_area .header_top_area {
    padding: 12px 0;
    background: rgba(44, 44, 44, 0.5);
    width: 100%;
    float: left;
}
.header_area .header_top_area .social_media_links,
.header_area .header_top_area .short_contact_list{
    display: inline-block;
}
.header_area .header_top_area .social_media_links{
    float: left;
}
.header_area .header_top_area .short_contact_list{
    float: right;
}
.header_area .header_top_area .short_contact_list{
    text-align: right;
}

.header_area .header_top_area ul {
    display: flex;
    position: relative;
    margin-right: 20px;
}

.header_area .header_top_area .social_media_links a {
    font-size: 15px;
    color: #fff;
    margin-left: 12px;
}

.header_area .header_top_area .short_contact_list ul li a {
    font-size: 13px;
    color: #fff;
    margin-left: 50px;
}

.header_area .header_top_area .short_contact_list ul li a i {
    color: #28AE60;
}

.slicknav_menu{
    display: none;
}


@media screen and (max-width:992px) {
    .header_area .header_top_area,
    .header_area .sticky_header {
        display: none;
    }
    .header_bottom_border {
        border-bottom: 1px solid #4B4E50;
        padding-bottom: 22px;
    }
    .header_area .mobile_menu .slicknav_menu,
    .header_area .mobile_menu .logo,
    .header_area .sticky_header .logo , .header_bottom_border {
        display: block;
        max-width: 720px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (min-width:992px) {

    .header_area .header_top_area,
    .header_area .sticky_header,
    .header_area .sticky_header .logo {
        display: block;
    }

    .header_area .mobile_menu .logo,
    .header_area .mobile_menu .slicknav_menu {
        display: none;
    }
}