@keyframes slide {
    0%,15%,100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    95% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}