
@keyframes slide {
    50%{
    // transform: scale(-3964px, 0px, 0px);
    transition: all 750ms ease;
    animation-timing-function: ease;
    }
    100%{
        transform: scale(-3964px, 0px, 0px);
        transition: all 750ms ease;
        animation-timing-function: ease;
    }
}

