@import '../sass-utils/mixins';

.slider_area .slider_active {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider_area .single_slider {
    height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider_bg_1 {
    background-image: url(../../img/banner.png.webp);
}
.slider_bg_2 {
    background-image: url(../../img/banner2.png.webp);
}

.overlay2 {
    position: relative;
    z-index: 0;
}

.overlay2::before {
    position: absolute;
    content: "";
    background-color: #2C2C2C;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
}

.slider_area .slide .slider_text {
    max-width: 960px;
    align-items: center;
}

.slider_area .single_slider .slider_text h3 {
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 62px;
}

.slider_area .single_slider .slider_text p {
    font-size: 20px;
    font-weight: 400;
    color: #D5D5D5;
    margin-bottom: 24px;
    margin-top: 10px;
}

.boxed-btn3-white i {
    margin-right: 2px;
}

@media screen and (min-width:992px) and (max-width:1200px) {
    .slider_area .single_slider .slider_text h3 {
        font-size: 35px;
        letter-spacing: 3px;
    }

    .slider_area .single_slider .slider_text p {
        font-size: 16px;
    }
}