@import '../sass-utils/mixins';


.slider_area {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;

}

.slider_area .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 10s infinite;
}

.slider_area .slide.slide1 {
    background-image:url("../../img/banner.png.webp");
    animation-delay: 0;
}

.slider_area .slide.slide2 {
    background-image: url("../../img/banner2.png.webp");
    animation-delay: -2s;
}