@import '../sass-utils/mixins';


.slider_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 20%);
    z-index: 1;
    animation: slide 2s linear;
}

.slider_area .slide {
    position: relative;
    width: 100%;
    height:  calc(100vh - 20%);
    float: left;
    overflow: hidden;
}

.slider_area .slide.slide1 {
    animation-delay: 0;
    background: url(../../img/banner.png.webp);
    background-size: cover;
    background-position: left;
}

.slider_area .slide.slide2 {
    // background-image: url("");
    animation-delay: 2s;
    background: url(../../img/banner2.png.webp);
    background-size: cover;
    background-position: right;
}